<div>
    <form action="" method="post">
        <div class="field-wrapper">
            <label>
                <span class="field_name">Text:</span>
                <textarea name="text_data"></textarea>
            </label>
        </div>
        <div class="field-wrapper">
            <label>
                <span class="field_name">Method:</span>
                <select name="method" id="method" class="sel"></select>
            </label>
        </div>
        <div class="field-wrapper">
            <input value="Send" type="submit" class="btn btn-primary"/>
        </div>
        <div>
            <pre style="min-height: 50px"></pre>
        </div>
    </form>
</div>